<div class="col-sm-4 well pull-right">
  <h1 class="center">
    Recent Links
  </h1>
  <ul>
    <% @recent_urls.each do |url| %>
      <li>
        <%= url.title %>
        <br><%= link_to request.base_url + "/" + url.slug, request.base_url + "/" + url.slug, target: 'blank' %>
        <br><em><%= time_ago_in_words(url.created_at) %> ago</em>
      </li>
      <hr>
    <% end %>
  </ul>
</div>