<div class="row col-sm-12">
<title> Dashboard | URL Shortening App</title>
  <div class="col-sm-6">
    <div class="jumbotron">
      <% if @my_urls.present? %>
      <div class="table-responsive links-table">
        <table class="table table-striped table-bordered responsive no-wrap">

          <li><h3 class="dashboard-header">My URLs</h3></li>
          <thead>
            <tr>
              <th>URL</th>
              <th>Date Created</th>
            </tr>
          </thead>

          <tbody>
            <% @my_urls.each do |url| %>
              <tr>
                <td><%= link_to url.title, url_path(url), remote: true%></td>
                <td><%= time_ago_in_words(url.created_at)%> ago</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% else %>
      <h3>You have no chomped urls yet</h3>
      <%= link_to "Click to start", root_url %>
      <% end %>
    </div>

    <div class="col-sm-12">
      <%= will_paginate @my_urls, renderer: BootstrapPagination::Rails %>
    </div>

  </div>



  <div class="col-sm-6">
    <div class="url-page"></div>
  </div>
</div>