<div class="container">
  <% provide(:title, "Home") %>
  <h1 class="white">Shorten your Links</h1>
  <div row>
    <%= form_tag({controller: 'urls', action: 'new'}, method: 'post', remote: true) do %>
      <% if current_user %>
        <div class="col-sm-6">
          <input name="target" id="target" type="text" class="form-control" placeholder="Please enter the url" required>
        </div>
        <div class="col-sm-6">
          <input name="slug" id="slug" type="text" class="form-control" placeholder="Slug string" >
        </div>
      <% else %>
        <div class="col-sm-12">
          <input name="target" id="target" type="text" class="form-control" placeholder="Please enter the url" required>
        </div>
      <% end %>
      <br><br><br>
      <div class="row col-sm-2 col-sm-offset-5">
        <%= submit_tag "Shot it", { class: "btn btn-primary" }%>
      </div>
    <% end %>
  </div>
  <br><br><br>
  <div class="row row-centered col-sm-4 col-sm-offset-4 center chompped_url">
    <a href="" class="extlink" target="blank"><span id="chopped"></span></a>
  </div>

  <% if Url.present? %>
    <div class="row">
      <div class="col-sm-5 well">
        <h1 class="center">
          Popular Links
        </h1>
        <ul>
          <% @popular_urls.each do |url| %>
            <li><%= link_to request.base_url + "/" + url.slug, request.base_url + "/" + url.slug, target: 'blank' %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-sm-5 well pull-right">
        <h1 class="center">
          Recent Links
        </h1>
        <ul>
          <% @recent_urls.each do |url| %>
            <li><%= link_to request.base_url + "/" + url.slug, request.base_url + "/" + url.slug, target: 'blank' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>